# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly ensure text files use LF line endings
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
